body {
  /* background: red; */
  display: grid;
  justify-items: center;
}
.firstDiv {
  background: white;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  display: grid;
  justify-items: center;
  width: 30%;
  padding-bottom: 3vh;
  margin-top: 3vh;
}
.btn {
  color: white;
  background: rgb(50, 113, 200);
  border-radius: 1px;
  border: none;
  text-align: center;
  padding: 0.4vh 1vw 0.4vh 1vw;
}
.btn:hover {
  color: black;
}
.secondDiv {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 90% 5% 5%);
  align-items: center;
  padding: 0vh 1vw 0vh 1vw;
  margin-top: 2.5vh;
}
/* .thirdDiv {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 50%;
} */
h2 {
  font-size: clamp(20px, 1.2vw, 1.3vw);
  font-weight: 300;
}
.icon:hover,
.icon1:hover {
  cursor: pointer;
  background: rgb(20, 120, 230);
}
#taskContainer {
  width: 34%;
}
.editDiv {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
  width: 20%;
  /* display:grid; */
  padding: 0 0 0 2.5vw;
  justify-items: center;
  display: none;
}
h1 {
  text-align: center;
}
.editBtn {
  background: rgb(20, 50, 200);
  color: white;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 0.3vh 0 0.3vh 0;
  margin-bottom: 3vh;
}
.editBtn:hover {
  background: rgb(50, 60, 90);
}
.backBtn {
  display: none;
  background: rgb(50, 60, 90);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.6vh 0 0.6vh 0;
  margin-top: 6vh;
  width: 10%;
}
.backBtn:hover {
  background: rgb(20, 150, 50);
}
a {
  text-decoration: none;
  color: white;
}
.error {
  color: blue;
}

@media all and (max-width: 1100px) {
  .firstDiv {
    width: 50%;
  }
  .editDiv {
    width: 40%;
  }
  .backBtn {
    width: 22%;
  }
  #taskContainer {
    width: 50%;
  }
}

@media all and (max-width: 750px) {
  .firstDiv {
    width: 70%;
  }
  .editDiv {
    width: 70%;
  }
  .secondDiv {
    grid-template-columns: repeat(3, 86% 7% 7%);
  }
  #taskContainer {
    width: 70%;
  }
}
