body {
  background: rgb(191,44,121);
  display: grid;
  justify-items: center;
}
.firstDiv {
  background:linear-gradient(to bottom right, rgb(65,24,104) 40%, rgb(23,28,48)) ;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  display: grid;
  justify-items: center;
  width: 30%;
  padding-bottom: 3vh;
  margin-top: 3vh;
  color:white;
}
.btn {
  background: rgb(191,44,121);
  color:white;
  border-radius: 1px;
  border: none;
  text-align: center;
  padding: 0.4vh 1vw 0.4vh 1vw;
}
.btn:hover {
  color: black;
}
.secondDiv {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 90% 5% 5%);
  align-items: center;
  padding: 0vh 1vw 0vh 1vw;
  margin-top: 2.5vh;
  color:white;
  background:linear-gradient(to bottom right, rgb(23,28,48) 35%, rgb(65,24,104) ) ;
}

/* .thirdDiv {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 50%;
} */
h2 {
  font-size: clamp(20px, 1.2vw, 1.3vw);
  font-weight: 300;
}
.icon:hover,
.icon1:hover {
  cursor: pointer;
    background: white;
}
#taskContainer {
  width: 34%;
}
.editDiv {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
  width: 20%;
  display: block;
  padding: 0 0 0 2.5vw;
  justify-items: center;
  background:white;
  color:rgb(23,28,48);
}
h1 {
  text-align: center;
  color:white;
}
.editH1 {
  text-align: center;
  color:rgb(23,28,48);
}
.editBtn {
  background: rgb(65,24,104);
  color: white;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 0.3vh 0 0.3vh 0;
  margin-bottom: 3vh;
}
.editBtn:hover {
  background: rgb(50, 60, 90);
}
.popUp {
  display: none;
  font-size: clamp(24px, 1.6vw, 1.7vw)
  margin: 0;
  padding: 0;
}
.backBtn {
  display: grid;
  background: rgb(50, 60, 90);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.6vh 0 0.6vh 0;
  margin-top: 6vh;
  width: 10%;
}
.backBtn:hover {
  background: rgb(20, 150, 50);
}
a {
  text-decoration: none;
  color: white;
}
.error {
  color: blue;
}

@media all and (max-width: 1100px) {
  .firstDiv {
    width: 50%;
  }
  .editDiv {
    width: 40%;
  }
  .backBtn {
    width: 22%;
  }
  #taskContainer {
    width: 50%;
  }
}

@media all and (max-width: 750px) {
  .firstDiv {
    width: 70%;
  }
  .editDiv {
    width: 70%;
  }
  .secondDiv {
    grid-template-columns: repeat(3, 86% 7% 7%);
  }
  #taskContainer {
    width: 70%;
  }
}
